<% include ./partials/header.ejs %>


<div class="bg- min-h-screen w-full flex flex-col gap-20">

    <form action="/uploaddp" hidden  id="dpform" method="post" enctype="multipart/form-data">
        <input type="file" name="dpimage"  >
    </form>

    <div class=" flex flex-col items-center gap-1 mt-10 ">
        <div class="relative">
            <span id="dppencil" class="cursor-pointer bg-zinc-200 absolute bottom-0 right-1 w-9 h-9 rounded-full flex justify-center items-center"><svg class="text-zinc-800 h-[60%] w-[60%]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M12.8995 6.85453L17.1421 11.0972L7.24264 20.9967H3V16.754L12.8995 6.85453ZM14.3137 5.44032L16.435 3.319C16.8256 2.92848 17.4587 2.92848 17.8492 3.319L20.6777 6.14743C21.0682 6.53795 21.0682 7.17112 20.6777 7.56164L18.5563 9.68296L14.3137 5.44032Z"></path></svg></span>
            <div class="bg-green-500 h-36 w-36 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="/images/uploads/<%= user.dp %>" alt="profile pic"></div>
        </div>
        <h1 class=" capitalize mt-3 font-semibold text-3xl sm:text-4xl text-center">Nithesh kumar</h1>
        <h4 class="font-medium text-gray-600 text-md">@username</h4>
        <div class="flex mt-3 gap-3 flex-wrap justify-center">
            <a class="hover:bg:opacity-100 hover:bg-red-700 opacity-80 bg-red-600 text-white rounded-full font-semibold tracking-wide px-3 py-1 sm:px-5 sm:py-2" href="/createpin">Create Pin</a>
            <a class="hover:bg:opacity-100 hover:bg-slate-300 opacity-80 bg-slate-200 rounded-full font-semibold tracking-wide px-3 py-1 sm:px-5 sm:py-2" href="editprofile">Edit Profile</a>
        </div>
    </div>

    <div>
        <div class=" flex font-bold text-xl gap-5">
            <h2>My Pins </h2>
            <h2>My Boards </h2>
        </div>
        <div class="cards flex flex-wrap gap-5 justify-center px-5 " >
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            <div class="card w-full sm:w-1/4 md:w-1/5 lg:w-1/6">
                <div class=" w-full sm:h-44 h-48  bg-black rounded-2xl overflow-hidden"><img class=" object-cover object-center w-full h-full" src="https://i.pinimg.com/236x/74/0c/1a/740c1a81227cad27aa358a16b66134a4.jpg" alt=""></div>
                <h2 class="text-xl font-semibold capitalize mt-3">collection</h2>
                <p class="text-sm  font-medium opacity-70">20 pins</p>
            </div>
            

            
            
           
        </div>
    </div>




</div>



<script>
    document.querySelector('#dppencil').addEventListener('click', () => {
        document.querySelector("#dpform input").click();
    })

    document.querySelector("#dpform input").addEventListener('change', () => {
        document.querySelector("#dpform").submit();
    })
    
</script>


<% include ./partials/footer.ejs %>