<% include ./partials/header.ejs %>

    <div class="px:2 md:px-4 ">

            <div class=" mx-2 md:mx-auto md:max-w-4xl border-solid rounded-t-[35px] sm:rounded-[35px] border-[1px] border-gray-300 overflow-hidden
        flex flex-col sm:flex-row sm:justify-between break-inside-avoid">
                <div class="object-contain min-h-fit sm:min-h-0
            mx-auto sm:mx-0 max-w-xs max-h-[25pc] md:min-w-[25pc] sm:max-h-[48pc]">
                    <img class=" w-full h-full "
                        src="/images/uploads/<%= pin.pinimage %>" alt="<%= pin.pintitle %>">
                </div>

                <div class="flex flex-col-reverse sm:block w-full sm:w-[50%] mx-auto">
                    <div class="flex justify-between w-full py-2 px-2 md:px-5 sm:py-3">
                        <div class="flex justify-center items-center gap-1">
                            <div
                                class="w-3 h-4 p-3 text-sm capitalize font-medium rounded-full bg-slate-300 flex justify-center items-center">
                                N</div>
                            <p class="capitalize font-medium text-md"><%= pin.user.username%></p>
                        </div>
                        <div class="relative">
                            <button onclick="toggleboadrs(this)" data-savebtn
                                class=" relative hover:bg-red-700 bg-[#E60023] text-white rounded-full font-semibold tracking-wide px-2 py-1 sm:px-3 sm:py-1">Save</button>
                            <div
                                class="savedropdn z-10 hidden absolute shadow-md max-h-[20vh] overflow-y-auto rounded-lg top-10 right-0  flex flex-col bg-white p-1  w-[100px] lg:w-[150px]">
                                <a class="hover:bg-black hover:text-white rounded-lg p-1" href="">
                                    <p class="line-clamp-2">hello fashion & designers with nitesh</p>
                                </a>
                                <a class="hover:bg-black hover:text-white rounded-lg p-1" href="">
                                    <p class="line-clamp-2">cars</p>
                                </a>
                                <a class="hover:bg-black hover:text-white rounded-lg p-1" href="">
                                    <p class="line-clamp-2">vehivles</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex flex-row-reverse px-2 mt-3 sm:mt-0 sm:p-0  gap-7 w-full justify-between sm:w-auto sm:justify-center items-center m-auto h-full">
                        <div class="flex flex-row-reverse gap-1 sm:gap-0 sm:flex-col items-center justify-center">
                            <span
                                class=" text-xs sm:text-base sm:flex justify-between items-center cursor-pointer w-7 h-7 sm:w-10 sm:h-10 md:w-12 md:h-12 block"><svg
                                    class="w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    fill="black">
                                    <path
                                        d="M16.5 3C19.5376 3 22 5.5 22 9C22 16 14.5 20 12 21.5C9.5 20 2 16 2 9C2 5.5 4.5 3 7.5 3C9.35997 3 11 4 12 5C13 4 14.64 3 16.5 3Z">
                                    </path>
                                </svg></span>
                            <b class="text-xs sm:text-sm text-zinc-700">600</b>
                        </div>
                        <% if(pin.link){ %>
                            <a href="<%= pin.link %>" target="_blank"
                            class=" text-xs sm:text-base sm:flex justify-between items-center px-2 flex justify-center gap-1 items-center bg-slate-100 rounded-full font-medium tracking-wide py-1">
                            <span class="w-5 h-5 block"><svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z">
                                    </path>
                                </svg></span>
                            <span>Visit site</span>
                        </a>
                        <% } %>          
                    </div>
                </div>
            </div>
            




    </div>


















    <script>

        // toggle save pin btn
        function toggleboadrs(btn) {
            const currentbtn = btn.nextElementSibling;

            document.querySelectorAll('.savedropdn').forEach(e => {
                if (e !== currentbtn) {
                    e.classList.add('hidden');
                }
            })

            currentbtn.classList.toggle('hidden');
        }
        // close boards dropdown when clicked somewhere on body
        document.addEventListener('click', (e) => {
            const issavebutton = e.target.closest('[data-savebtn]');
            const insidedropdown = e.target.closest('.savedropdn');

            if (!issavebutton && !insidedropdown) {
                document.querySelectorAll('.savedropdn').forEach(element => {
                    element.classList.add('hidden');
                });
            }
        })

    </script>



























    <% include ./partials/footer.ejs %>